*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    scroll-behavior: smooth;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
    color: blue;
    background-color: rgb(228, 253, 245);
}
section {
    margin-top: 62px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 7%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(168, 221, 255, 0.4);

}

.navbar img{
    width:45px;
}
.navbar-logo {
    font-weight: 600;
    font-style: italic;
    font-size: 1.8rem;
    display: flex;
    align-items:center;
}
.navbar-logo a{
    margin: 0 0.9rem;
}
span{
    color: #9ed6f9;
}

.navbar .navbar-nav a {
    font-weight: 600;
    font-size: 1.1rem;
    display: inline-block;
    padding-left: 20px;
}

#pendaftaran{
    color: #0800f6;
    font-weight: 600;
    border: 2px solid #9ed6f9;
    padding: 4px 1rem;
    background-color: #9ed6f9;
    border-radius: 30px;

}

.navbar .navbar-nav a:hover{
    color: #142437;
}
.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid #1f97e1;
    transform: scaleX(0);
}
.navbar .navbar-nav a:hover::after{
    transform: scaleX(0.8);
    transition: 0.2s linear;
}
.navbar .nav-tambahan a{
    color: blue;
    margin: 0 0.5rem;
}

.navbar .nav-tambahan a:hover{
    color: #87CEFA;
}

#ham-icon{
    display: none;
}

/* landing */
.landing{
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.landing .tampilan h1{
    color: rgb(34, 0, 255);
    -webkit-text-fill-color: #0986d4; /* Will override color (regardless of order) */
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
    text-shadow: 2px 1px 2px black;
    margin-bottom: 2rem;
   
}
.landing-p h3{
    color: #142437;
    margin-bottom: 1rem;
    font-size: 17px;
    font-weight: 500;
}

.landing-p h4{
    color: #142437;
    margin-bottom: 1rem;
    font-size: 16px;
    font-weight: 500;
    color: #1f97e1;
    margin-bottom: 3rem;
}
.landing .tampilan{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 128px;
    font-size: 1.4rem;
    gap: 10rem;
}
.tampilan img{
    width: 30rem;
    margin: auto;
}

.landing .tampilan .btn-landing{
    margin-top: 2rem;
}

.landing-logo .land-logo-sv svg{
    width: 600;
    height: 600;
    transform: scale(1.2);
}

.landing-logo svg{
    position: absolute;
    width: 600;
    height: 600;
    transform: scale(15);
    z-index: -2;
}

.landing-logo img{
    width: 19rem;
    margin-right: 16rem;
    border: 3px solid white;
    border-radius: 30px;
    box-shadow: 6px 6px 5px rgb(39, 32, 32)

}
#img-logo-xtra{
    position: absolute;
    bottom: -10%;
    right: -5%;
    top: 20%;
}
.landing-logo .svg-extra{
    position: absolute;
    width: 600;
    height: 600;
    transform: scale(13);
    z-index: -1;
}
#btn-wa, #btn-ppdb{
    border: 2px solid #87CEFA;
    background-color: blue;
    padding: 5px 16px;
    border-radius: 30px;
    margin-top: 0 4rem;
    color: #fff;
    font-weight: 600;
}
#btn-wa {
    margin: 0 1rem;
}
#btn-wa:hover {
    background-color: #fff;
    color: blue;
    border: 2px solid #0800f6;
}
#btn-ppdb{
    margin: 0 1rem;
}

#btn-ppdb:hover{
    background-color: #fff;
    color: blue;
    border: 2px solid #0800f6;
}

/* Aboutme */
.info-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px 128px;
    column-gap: 3rem;
}
.about-img img{
    width: 30rem;
    border: 3px solid white;
    border-radius: 30px;
    box-shadow: 6px 6px 5px rgb(39, 32, 32)
}

.about-detail-item h2{
    color: #142437;
    margin-bottom: 3rem;
}
.about-detail-item p{
    color: #06629b;
}

/* xtra */
.extra-detail .extra-detail-item img{
    width: 20rem;
    height: 22rem;
    border-radius: 30px;
}

.extra-detail-item{
    border: 3px solid white;
    border-radius: 30px;
    box-shadow: 6px 6px 5px rgb(39, 32, 32)
}
.extra h2{
    color: #142437;
    text-align: center;
}
.extra .extra-detail{
    display: flex;
    justify-content: space-between;
    padding: 62px 128px;
    align-items: center;
    text-align: center;
    color: #142437;
}


/* galery */
.detail-galeri h2{
    color: #142437;
    margin-bottom: 3rem;
    text-align: center;
    margin-top: 128px;
}
/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

.galeri{
    margin-bottom: 128px;
}

/* Footer */
.footer-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-detail img{
    width:80px;
}
.footer-item{
    display: flex;
    align-items: center;
}
.footer-item h1{
    margin-left: 1rem;
}

footer{
    padding: 62px 128px 24px 128px;
    background-color: #87CEFA;
}
/* media */

/* laptop */
@media (max-width: 1366px){
    html{
        font-size: 75%;
    }
    
}
/* tablet */
@media (max-width: 768px){
    html{
        font-size: 62.5%;
    }
    
    #ham-icon{
        display: inline-block;
    }
    .navbar .navbar-nav{
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: rgba(28, 93, 134, 0.7);
        width: 20rem;
        height: 100vh;
        transition: 0.6s linear;
    }

    .navbar .navbar-nav.active{
        right: 0;
        transition: 0.7s linear;
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .navbar .navbar-nav a{
        color: #fff;
        font-size: 1.4rem;
        margin-top: 2rem;
    }

    .navbar .navbar-nav a::after{
        transform-origin: 0 0;
    }
    .navbar .navbar-nav a:hover:after{
        transform: scaleX(0.5);
    }

}
/* HP */
@media (max-width: 450px){
    html{
        font-size: 55%;
    }
    
}